<!DOCTYPE html>
	<head>
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<script>
			var roomId = "<%= room %>";
		</script>
		<script src="/libs/three.min.js"></script>
		<script src="/libs/socket.io-1.3.7.js"></script>
		<link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css">
	<style>
		html, body {
			margin: 0;
			overflow: hidden;
			background-color: #000000;
			font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", sans-serif; 
			font-weight: 300;
			color: white;
			text-align: center;
			font-size: 24px;
            height:100%;
		}
		.note {
			font-size: 14px;
		}
		.volume {
			font-size: 36px;
		}
		#audio {
			display: none;
		}
        #alpha {
            position: absolute;
            z-index: 50;
            top: 45%;
            left: 45%;
        }
        #beta {
            position: absolute;
            z-index: 50;
            top: 50%;
            left: 45%;
        }
        #gamma {
            position: absolute;
            z-index: 50;
            top: 55%;
            left: 45%;
        }
        #center {
            height:100%;
        }
	</style>
	</head>
	<body>
		<div class="alignment"></div>
        <div class="align-item"></div>
            <div id="center">
				<img src="/textures/lightsaber.png" height="100%">
				<br>
				<div id="alpha">X: <span id="alpha"></span></div>
                <div id="beta">Y: <span id="beta"></span></div>
                <div id="gamma">Z: <span id="gamma"></span></div>
			</div>

		<script src="/js/lightsaber.js"></script>
	</body>
</html>