<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="/libs/bootstrap.min.css">
    <link rel="stylesheet" href="/libs/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script>
        var roomId = "<%= room %>";

    </script>
    <script src="/libs/socket.io-1.3.7.js"></script>
    <script src="/libs/three.min.js"></script>
    <script src="/libs/DeviceOrientationController.js"></script>
    <script src="/libs/OrbitControls.js"></script>
    <script src="/libs/StereoEffect.js"></script>
</head>

<body>
    <div class="container-fluid landing">
        <center>
            <img class="displayed" src="/textures/allstarwars.png" width="250px" align="middle">
            <div class="row">
                <div class="col-md-12">
                    <p style="color: #adadad" style="font-size: 17px">You're trapped on the Death Star, Stormtroopers are firing at you, and you have nothing to defend yourself but your phone!</p>
                    <p style="font-size: 18px">So turn your phone into a mighty lightsaber by scanning the <span style="color:#25d3ff">QR Code</span> below or entering the <span style="color:#25d3ff">link</span> in an internet browser.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 center-block">
                    <img id="qrcode" src="">
                </div>
                <div class="col-md-12 text-center">
                    <span style="color:#47dcff; font-size: 26px;" id="room-url"><div style="padding-bottom:25px;" id="room-link"><%= roomURL %></div></span>
                </div>
            </div>
        </center>
    </div>
    <div class="gameView" id="container">
        <div style="z-index: 1">
            <div class="font">
                <h4 id="scoretitle" style="display:none;">Score</h4>
                <p id="score" style="display:none;">0</p>
                <div id="introMessage" style="display: none">
                    <p class="message">May the force be with you!</p>
                </div>
                <h4 class="statbar" id="timertitle" style="left: 15%; top: 3%;">Timer</h4>
                <p class="statbar" id="timer" style="left: 15%; top: 10%;">0</p>
                <h4 class="statbar" id="scoretitle" style="right: 15%; top: 3%;">Score</h4>
                <p class="statbar" id="score" style="right: 15%; top: 10%;">0</p>
            </div>
        </div>
    </div>
    <div id="outroMessage" style="display: none">
        <p class="message">Game over!</p>
        <p id="winMessage" style="font-size: 36px"></p>
    </div>
    <script>
        var qrimg = document.getElementById("room-link").innerHTML;
        document.getElementById("qrcode").src = "https://api.qrserver.com/v1/create-qr-code/?size=120x120&data=" + qrimg;

    </script>
    <script src="/libs/jquery-3.2.1.min.js"></script>
    <script src="/libs/bootstrap.min.js"></script>
    <script src="/js/bundle.js"></script>
</body>

</html>
